# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter temporary files
.ipynb_checkpoints/

# Temporary Flask uploads
app/uploads/

# Generated processed dataset
data/processed_sequences/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Logs
*.log